*{
    margin: 0;
    padding: 0;
    font-family: "Graduate", "Times New Roman", Verdana;
    font-size: 18px;
}
@font-face {
	font-family: 'Graduate';
	font-style: normal;
	font-weight: 400;
	src: local('Graduate'),
		local('Graduate-Regular'),
		url(/fonts/graduate.eot) format('embedded-opentype'),
		url(/fonts/graduate.ttf) format('truetype'),
		url(/fonts/graduate.woff) format('woff');
}
body{background: whitesmoke;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font: normal Helvetica, Arial, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    gap: 1rem;
}
.message{
    position: absolute;
    top: 0;
 border-radius: 0 0 20px 20px;
   width: 20rem;
   box-shadow: 0px 5px 10px gainsboro;
   text-align: center;
   padding: .5rem 0;
   color: rgb(0, 145, 255);
   letter-spacing: 2px;
   font-weight: 900;
}
.title{
 font-size: 1.5rem;
 font-weight: 600;
 letter-spacing: 1px;
 color: rgb(0, 132, 255);
margin-bottom: 1rem;
font-family: "Graduate", "Times New Roman", Verdana;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 8rem;
    padding: 0rem 1rem;
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.inputs input{
    border: none;
    border-radius: 10px;
    font-size: 12px;
    padding: .8rem 1rem;
    width: 77vw;
}
input:focus{
    outline: none;
    background: white;
}
button{
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    background:  rgb(0, 132, 255);
    margin-bottom: 1rem;
    margin-top: 1rem;

}
button span{
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}
span{
    font-size: 20px;
    margin-top: 4rem;
}
.api_login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    margin-bottom: 6rem;
}
.api_login img{
    border-radius: 50%;
    background: gainsboro;
}
.sign{
    font-size: 10px;
}